[Unit]
Description=ComputerVision Main function
After=cam_node_1.service
Requires=cam_node_1.service
  
[Service]
Type=simple
ExecStart=/home/cubot/_2_Camera/Script/AH_1.sh
ExecReload=/home/cubot/_2_Camera/Script/AH_1.sh
ExecStop=/home/cubot/_2_Camera/Script/AH_1_kill.sh
Restart=always
TimeoutStartSec=2.5
RestartSec=2.5
PrivateTmp=false
[Install]
WantedBy=multi-user.target
